*{
margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width:100%;
}

.main{
height: 100%;
width: 100%;

}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo{
align-content: center;
 margin-left: 10px;
 margin-right: 20px;
}

.home{
margin-left: 10px;
 margin-right: 20px;
}
 
 

.brand{
margin-left: 10px;
 margin-right: 20px;
  
}
.order{
 
  margin-left: 10px;
 margin-right: 20px;
  
}
.login{
 margin-left: 10px;
 margin-right: 20px;
  
}
.account{
 
   margin-left: 10px;
 margin-right: 20px;
  
}




.search-box input {
  margin-left: 20px;
    padding: 5px;
    margin: 10px;
}

.search-box button {
  background-color: rgb(219, 74, 163);
  color: white;
  border-radius: 4px;
  border-spacing: initial;
  border: 1px solid rgb(219, 74, 163);
    padding: 5px 10px;
    cursor: pointer;
}

.mark{

  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 30px;
  background-color: yellow;

  font-weight: bolder;
  font-display: block;
  padding-top: 3px;

}
.page2{
  display: flex;
  text-align: center;
 
  justify-content: center;
  
  width: 100%;
  height: 40%;
  }




  
  
  .in1, .in2 {
    display: flex;
    flex-wrap: wrap;      /* Zoom पर नीचे आ जाए */
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.product {
    width: 220px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    background: white;
}

.product img {
    width: 100%;
    height: auto;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
     background-color: rgb(219, 74, 163);
  color: white;
  border-radius: 4px;
  border-spacing: initial;
  border: 1px solid rgb(219, 74, 163);
}

.foot1{
  text-align: center;
 align-items: center;
  justify-content: center;
  background-color: #D8C2B3;

  width: 420px;
  height: 250px;

}
.foot2{
  text-align: center;
 align-items: center;
  justify-content: center;

  background-color: #A8BFA3
;
   width: 420px;
  height: 250px;
  

}
.foot3{
  text-align: center;
 align-items: center;
  justify-content: center;
  background-color: #E38A67;
  width: 420px;
  height: 250px;
  

}

.box{
  margin-top: 100px;
}

.F1
{
  
width: 100%;
height: 100px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px 0;
}

.social-icons a {
    color: white;
    font-size: 22px;
    margin: 0 15px;
    text-decoration: none;
    transition: 0.3s;
}

.social-icons a:hover {
    color: orange;
}